cython<3.0.0
wheel
pyyaml==5.4.1
ttkbootstrap==1.13.10
torch
torchaudio
tf-models-official
transformers
datasets
scikit-learn
accelerate
openai-whisper
datasets
huggingface_hub
fsspec
pydub
simpleaudio
transformers<5.0.0
trainer